In [1]:
import pandas as pd
import pandas_usaddress

In [2]:
df_assess = pd.read_csv('Residence Assessor.csv')

/home/jovyan/conda-envs/capstone-dev/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_assess['Property Location']

0          0000 0297 BALTIMORE           WY0000
1          0000 0666 POST                ST1503
2          0000 0650 CHESTNUT            ST0202
3          0000 0611 WASHINGTON          ST2402
4          0000 0000                       0000
                           ...
1783686    0000 0588 MISSION BAY NORTH   BL0000
1783687    0000 1180 4TH                 ST0000
1783688    0000 1180 4TH                 ST0000
1783689    0000 1000 3RD                 ST0000
1783690    0000 0110 CHANNEL             ST0000
Name: Property Location, Length: 1783691, dtype: object

In [7]:
df_small = df_assess.head(10)['Property Location'].to_frame()
df_small

                       Property Location
0   0000 0297 BALTIMORE           WY0000
1   0000 0666 POST                ST1503
2   0000 0650 CHESTNUT            ST0202
3   0000 0611 WASHINGTON          ST2402
4   0000 0000                       0000
5   0000 1925 LEAVENWORTH         ST0012
6   0000 0849 MASON               ST0001
7  0000 0690 CHESTNUT            ST0202C
8   0000 2001 GRANT               AV0000
9  0000 0044 MACONDRAY           LN0006E

In [8]:
pandas_usaddress.tag(df_small,['Property Location'], granularity='medium', standardize=True)

,Property Location,AddressNumber,PlaceName,StateName,StreetName,StreetNamePreDirectional,StreetNamePostDirectional,ZipCode,StreetNamePrefix,StreetNameSuffix,USPSBox,OccupancySuite
0,0000 0297 BALTIMORE WY0000,0297,NaN,NaN,baltimore,NaN,NaN,NaN,NaN,NaN,NaN,wy0000
1,0000 0666 POST ST1503,0666,NaN,NaN,post,NaN,NaN,NaN,NaN,NaN,NaN,st1503
2,0000 0650 CHESTNUT ST0202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,st0202
3,0000 0611 WASHINGTON ST2402,0611,NaN,NaN,washington,NaN,NaN,NaN,NaN,NaN,NaN,st2402
4,0000 0000 0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0000 0000 0000
5,0000 1925 LEAVENWORTH ST0012,1925,NaN,NaN,leavenworth,NaN,NaN,NaN,NaN,NaN,NaN,st0012
6,0000 0849 MASON ST0001,0849,NaN,NaN,mason,NaN,NaN,NaN,NaN,NaN,NaN,st0001
7,0000 0690 CHESTNUT ST0202C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,st0202c
8,0000 2001 GRANT AV0000,2001,NaN,NaN,grant,NaN,NaN,NaN,NaN,NaN,NaN,av0000
9,0000 0044 MACONDRAY LN0006E,0044,NaN,NaN,macondray,NaN,NaN,NaN,NaN,NaN,NaN,ln0006e

Looks like the property location column should be split into 4 columns and inspected

In [6]:
addr_cols = ['addr_unknown','addr_snum','addr_sname','addr_ssuffix']

# need to build a regular expression to get the 4 blocks of text in the property location
dummies= df_reside_assess['Property Location'].head(20000).str.split(expand=True)

NameError: name 'df_reside_assess' is not defined